<div class="site-footer">
  <p><%= link_to "Home", jobs_path, class: 'footer_link' %> | <%= link_to "About", about_path, class: 'footer_link' %> | <%= link_to "Post", new_job_path, class: 'footer_link' %></p>
  <!-- <p><a href="#">Home</a> | <a href="#">Contact</a> | <a href="#">Submit</a>  </p> -->
</div>      
