<%= stylesheet_link_tag 'jobs/about', media: 'all', 'data-turbolinks-track' => true %>

<div class="post">
  <h4>About</h4>
  <p>This site is setup to serve both the iOS job seekers and recuiters in the Pacific Northwest. The site is sponsored and maintained by the lovely members of <%= link_to 'Seattle iOS Devs', 'http://www.meetup.com/Seattle-iOS-Developers/'%>.</p>

  <p>For any questions or for information on posting, please contact <%= link_to 'Taylor Halliday', 'mailto:taylor.halliday@gmail.com'%> or <%= link_to 'DJ Hayden', 'mailto:dj.hayden@stablekernel.com'%></p>

</div>