<%= stylesheet_link_tag 'jobs/about', media: 'all', 'data-turbolinks-track' => true %>

<div class="post">
  <h4>Post A Job. It's Free!</h4>
  <h4>...for now...</h4>
  <p>If you are interested in posting a job, please contact <%= link_to 'Taylor Halliday', 'mailto:taylor.halliday@gmail.com'%>.</p> 
  <p>There will be a form here in the future (maybe this weekend)!</p>
  <p>This site is a work in progress.</p>
</div>